In [48]:
# Importing Libraries
import pandas as pd
import re
import nltk
import spacy

nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to C:\Users\uf
[nltk_data]     ruman\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [49]:
import spacy.cli
spacy.cli.download("pt_core_news_sm")

✔ Download and installation successful
You can now load the package via spacy.load('pt_core_news_sm')

In [50]:
# importing portuguese language spacy object that gives more understable/sematric information about portuguese language to our model 

import pt_core_news_sm
spc_ob_pt = pt_core_news_sm.load()

In [51]:
# Load the labeled dataset 
df1 = pd.read_excel("review_with_labelled.xlsx")
df1.head()

,order_id,reviews,label
0,658677c97b385a9be170737859d3511b,recebi bem antes do prazo estipulado,1
1,8e6bfb81e283fa7e4f11123a3fb894f1,parabéns lojas lannister adorei comprar pela ...,1
2,b9bf720beb4ab3728760088589c62129,recomendo aparelho eficiente no site a marca d...,1
3,9d6f15f95d01e79bd1349cc208361f09,mas um pouco travandopelo valor ta boa\n,1
4,e51478e7e277a83743b6f9991dbfa3fb,super recomendo vendedor confiável produto ok ...,1

In [52]:
# get the stopwoeds of portuguese language

stw_pt = stopwords.words("portuguese")

In [55]:
# create a function that takes a string, filters only letters, remove stopwords, lemmatize and return the resulting string.

def text_cleaner3(strings):

  strings = strings.lower()

  strings = re.sub('[^a-zA-Z]', ' ', strings)

  strings = [i for i in strings.split() if i not in stw_pt]

  spc_strings = spc_ob_pt(" ".join(strings))

  word_tokens = [word.lemma_ if word.lemma_ != "-PRON-" else word.lower_ for word in spc_strings]
  
  return " ".join(word_tokens)

In [56]:
df1['reviews'] = df1['reviews'].apply(text_cleaner3)

In [59]:
df1.head()

,order_id,reviews,label
0,658677c97b385a9be170737859d3511b,receber bem antar prazo estipular,1
1,8e6bfb81e283fa7e4f11123a3fb894f1,parab ns loja lannister adorar comprar interne...,1
2,b9bf720beb4ab3728760088589c62129,recomendar aparelhar eficiente site marcar apa...,1
3,9d6f15f95d01e79bd1349cc208361f09,pouco travandopelo valor ta bom,1
4,e51478e7e277a83743b6f9991dbfa3fb,super recomendar vendedor confi vel produto ok...,1

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38573 entries, 0 to 38572
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  38573 non-null  object
 1   reviews   38573 non-null  object
 2   label     38573 non-null  int64
dtypes: int64(1), object(2)
memory usage: 904.2+ KB

### save the df1 dataframe as nlp_preproccessed_data.xlsx

In [62]:
df1.to_excel("nlp_preprocessed_data.xlsx", index=False)